:root {

  --fontSizeTownName: 2em;
  --borderRadius: 40px 40px 40px 40px;
  --borderRadius2: 0px 0px 40px 40px;
  --colorOne: rgb(126, 217, 87);
  --colorOneLight: rgb(182, 221, 166);
  --colorTwo: rgb(0, 194, 203);
  --colorTwoLight: rgb(184, 251, 255);
  --colorThree: rgb(82, 113, 255);  
  --colorThreeLight: rgb(184, 197, 255); 
  --colorFour: #8b3dff;  
  --colorFourLight: #ceadff;  
  --colorFourLightLight: #eee3fe;  
  --colorFive: rgb(255, 102, 196);
  --colorFiveLight: rgb(252, 228, 243);
  --colorGrey: rgb(90, 90, 90);
  --colorGreyLight: rgb(214, 214, 214);

}



@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {

  text-align: center;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;

}

.fill-window {
  
  min-height: 100%;
  position: absolute;
  left: 0;
  width: 100%;

}

a {
  
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  cursor: pointer;

}

.mainClass {

  height: 100vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;

}

.mainClass2 {

  height: 100vh;
  width: 100%;

}

.mainClass2 > a {

  height: 25%;
  width: 25%;

}

.emergency {

  position: relative;
  background-image: url(./images/red1.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto 100%; 
  width:50%;
  height: 100%;

}

.emergencyBtn{

  position: absolute;
  bottom: 55px;
  height: 15vh;
  width: 60%;
  left: 50%;
  transform: translatex(-50%);
  background-color: rgb(73, 73, 73, 0.9);
  border-radius: 30px;
  color: var(--colorFiveLight);
  text-decoration: none !important;
  font-size: 1em;


}


.route {

  position:relative;
  background-image: url(./images/green.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto 100%; 
  width:50%;
  height: 100%;

}

.routeBtn{

  position: absolute;
  height: 15vh;
  width: 60%;
  bottom: 55px;
  left: 50%;
  transform: translatex(-50%);
  background-color: rgb(73, 73, 73, 0.9);
  border-radius: 30px;
  color: var(--colorOneLight);
  text-decoration: none !important;
  font-size: 1em;

}


@media screen and (max-width: 992px) {

  .mainClass {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  
  }

  .route {

    position:relative;
    background-image: url(./images/green.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; 
    width:100%;
    height: 50%;
  
  }

  .emergency {

    position: relative;
    background-image: url(./images/red1.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; 
    width:100%;
    height: 50%;
  
  }

}


.flex-center {

  display: flex;
  align-items:center;
  justify-content: center;


}


.flex-top {

  display: flex;
  align-items:flex-start;
  justify-content: center;


}

.quarter {

  width: 49%;
  height: 49%;
  display:flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin:2px;
 

}

.doncaster {

  z-index: -1;
  background-image: url('../images/doncaster-bg.jpg.webp');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  /* box-shadow: inset 0 0 0 1000px rgba(105, 0, 110, 0.9); */
  color: white;
  /* text-shadow: 2px 2px 2px black; */


}


.barnsley {

  z-index: -1;
  background-image: url('../images/barnsley-bg.jpg.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  /* box-shadow: inset 0 0 0 1000px rgba(90, 56, 89, 0.9); */
  color: white;
  /* text-shadow: 2px 2px 2px black; */

}

.rotherham {

  z-index: -1;
  background-image: url('../images/rotherham-bg.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  /* box-shadow: inset 0 0 0 1000px rgba(0, 37, 84, 0.9); */
  color: white;
  /* text-shadow: 2px 2px 2px black; */


}


.sheffield {

  z-index: -1;
  background-image: url('../images/sheffield-bg.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  /* box-shadow: inset 0 0 0 1000px rgba(18, 43, 60, 0.9); */
  color: white;
  /* text-shadow: 2px 2px 2px black; */


}


.live {

  /* font-family: 'Pacifico', cursive; */
  /* font-size: 1.2em; */

}

/* .barnsleyText {

  font-weight: bold;

}

.doncasterText {

  font-weight: bold;
  
}

.rotherhamText {

  font-weight: bold;
  
}


.sheffieldText {

  font-weight: bold;
  
} */

.plateName {

  background-color: rgb(73, 73, 73, 0.9);
  color: #fff;
  padding: 30px;
  border-radius: var(--borderRadius);
  font-weight: bold;
  font-size: 0.5em;

}

.plateName:hover {

  
  background-color: #fff;
  color: #252627;
  border: 2px solid #252627;
  padding: 30px;
  border-radius: var(--borderRadius);


}


.callNowWrapper {

  width: 50%;
  background-color: black;
  color: white;
  margin: auto;
  padding: 20px;
  border-radius: var(--borderRadius);

}

.callNowWrapperWhite {

  width: 50%;
  color: black;
  margin: auto;
  padding: 20px;
  border-radius: var(--borderRadius);

}

.pageWrapper {

  margin-bottom: 80px;

}

.emergencyContact {

  color: white;
  font-size: 3.5em;
  font-weight: bold;
  text-decoration: underline !important;

}

.smallText {

  font-size: 0.5em;
  
}

.thirdWrapper {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}



.emergencyButtonsWrapperOuter {

  justify-content: center;
  align-items: center;
  margin: auto;


}

.emergencyText {

  font-size: 1.5em;

}

.emergencyButton {

  width: 25vw;
  height: 35vh;
  margin: 10px;
  cursor: pointer;
  font-size: 2em;

}

.third {

  width: 31%;
  margin: 10px;

}

.nhs {

  background-color: #005eb8;
  color: white;
  border: 2px solid 005eb8 ;

}



.leftBox {

  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}

.rightBox {

  width: 48%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;

}

.contentBox a {

  width: 100%;
  height: 100%;
  padding: 20px !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 5px;


}



.h2Small {

  font-size: 8px;
  vertical-align: middle;
  display: inline-block;
  margin: 0px;

}


.emphasiseText {

  font-size: 40px;

}

.italic {

  font-style: italic;

}

.emergencyContactWhite {

  text-decoration: underline !important;
  color: black !important;
  font-weight: bold;


}

.emergencyContactSmall {

  text-decoration: underline !important;
  font-weight: bold;
  font-size: 0.7em;

}

.linkWhite {

  color:white;
}

.linkBlack {

  color:black;
}

.yes, .no {

  border-radius: var(--borderRadius);
}

.emergencyHeaderText {

  padding: 40px;
  background-color: var(--colorFiveLight);
  margin-top: 0px;

}

nav {

  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  width: 90%;
  margin: auto;

}

.navBtn {

  min-height: 120px;
  border-radius: 22px;
  margin: 2px;
  width: 19.5%;
  color: white;
  font-size: 0.6em;
  padding: 10px;

}


.contentWrapper {

  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  
}

.contentBoxWrapper {

  width: 28vw;
  margin: 5px;

}


.contentBox {

  margin: 0px 5px 5px 5px;
  border-radius: var(--borderRadius2);
  margin-top: 0px;
  width: 100%;
  height: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contentBox2 {

  margin: 0px 5px 5px 5px;
  border-radius: var(--borderRadius2);
  margin-top: 0px;
  width: 100%;
  height: 16vw;
  position: relative;
  overflow: hidden;
  

}

.contentLast {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.nameBox {

  height: 100%;
  
}

.nameBox2 {

  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.nameBox1 {

  height: 20%;

}

.nameBox2 {

  height: 60%;
  align-items: center;
  justify-content: center;
  
}

.nameBox3 {

  height: 20%;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  font-size: 0.6em;
 
}

.nameBox4 {

  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 0px solid black;
  font-size: 0.6em;
 

}



.nameBox5 {

  height: 100%;
  width: 100%;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
 

}

.textName {

  display: flex;
  align-items: center;
  justify-content: center;

}

button {

  min-width: 100px;
  height: 50px;
  margin: 30px;
  margin-bottom: 60px;

}

input[type="submit"] {

  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 1.2em;
  

}

input[type="text"] {

  width: 60%;
  height: 50px;
  text-align: center;
  font-size: 20px;

}

ol {

  width: 50%;
  margin: auto;

  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 12px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);

}


ol ol {

  margin: 0 0 0 2em; /* Add some left margin for inner lists */

}

.rounded-list a {

  position: relative;
  display: block;
  height: 100px;
  background: black;

  margin: .5em 0;
  color: white;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

}

.rounded-list a:hover{

  border: 1px solid black;

}

.rounded-list a:hover:before{

  transform: rotate(360deg);

}

.rounded-list a:before {

  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: black;
  color: white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;

}

.item-1 a:before{
 
  background: var(--colorFour);

} 

.item-1 a{
 
  background: var(--colorFour);

}

.item-2 a:before{
 
  background: var(--colorThree);

}

.item-2 a{
 
  background: var(--colorThree);

}

.item-3 a:before{
 
  background: var(--colorFive);

}

.item-3 a{
 
  background: var(--colorFive);

} 

.batteryTop {


  background: grey;
  height: 80px;
  width: 200px;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  margin-top: 20px;

  
}

.batteryTopBottom {

  background: grey;
  height: 20px;
  width: 50%;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
  
}

.batteryBottom {

  background: grey;
  height: 20px;
  width: 50%;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  margin-bottom: 60px;
  
}



.btnGroup > button {

    margin: 0px;
    margin-top:20px;
    font-size: 0.7em;


}

.btnGroup > button {

  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0.2px 1px 0.2px;


}

.btnGroup > button:hover {

  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0.2px 1px 0.2px;
  background-color: orange;
  color: white;
  cursor: pointer;
  

}

.btnGroup > button:first-child {

  border-radius: 10px 0px 0px 10px;
  border-width: 1px 0.2px 1px 1px;


}

.btnGroup > button:first-child:hover {

  border-radius: 10px 0px 0px 10px;
  border-width: 1px 0.2px 1px 1px;
  background-color: green;
  color: white;

}

.Positive {

  background-color: green;
  color: white;

}

.Positive a:before{

  background-color: green;
  color: white;

}

.Positive a{

  background-color: green;
  color: white;

}


.btnGroup > button:last-child {

  border-radius: 0px 10px 10px 0px;
  border-width: 1px 1px 1px 0.2px;


}

.btnGroup > button:last-child:hover {

  border-radius: 0px 10px 10px 0px;
  border-width: 1px 1px 1px 0.2px;
  background-color: red;
  color: white;

}

.Indiferent {

  background-color: orange;
  color: white;

}

.Indiferent a:before{

  background-color: orange;
  color: white;

}

.Indiferent a{

  background-color: orange;
  color: white;

}

.Negative {

  background-color: red;
  color: white;

}

.Negative a:before{

  background-color: red;
  color: white;

}

.Negative a{

  background-color: red;
  color: white;

}

li.Indiferent:first-of-type a{

  background-color: blue;

}

.selfCare {

  height: 100px;
  width: 100%;
  margin-top:0px;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;


}

.whiteText {

  color: white;

}

.whiteBg {

  background-color: white;

}

.blackText {

  color: black;
  
}


.colorOne {

  color: var(--colorOne) !important;

}

.colorOneBg {

  background-color: var(--colorOne) !important;

}

.colorOneBgLight {

  background-color: var(--colorOneLight);

}

.colorOneBorder {

  border: 2px solid var(--colorOne);

}

.colorTwo {

  color: var(--colorTwo) !important;

}

.colorTwoBgLight {

  background-color: var(--colorTwoLight);

}

.colorTwoBorder {

  border: 2px solid var(--colorTwo);

}


.colorTwoBg {

  background-color: var(--colorTwo);

}

.colorThree {

  color: var(--colorThree) !important;

}

.colorThreeBg {

  background-color: var(--colorThree);

}

.colorThreeBgLight {

  background-color: var(--colorThreeLight);

}

.colorThreeBorder {

  border: 2px solid var(--colorThree);

}

.colorFour {

  color: var(--colorFour) !important;

}

.colorFourBg {

  background-color: var(--colorFour);

}

.colorFourBgLight {

  background-color: var(--colorFourLight);

}

.colorFourBorder {

  border: 2px solid var(--colorFour);

}

.colorFive {

  color: var(--colorFive) !important;

}

.colorFiveBg {

  background-color: var(--colorFive);

}

.colorFiveBgLight {

  background-color: var(--colorFiveLight);

}

.colorFiveBorder {

  border: 2px solid var(--colorFive);

}


.colorGrey {

  color: var(--colorGrey);

}

.colorGreyBg {

  background-color: var(--colorGrey);

}

.colorGreyBgLight {

  background-color: var(--colorGreyLight);

}

.colorGreyBorder {

  border: 2px solid var(--colorGrey);

}

.contentBoxHeader {

  height: 30px;
  width: 100%;
  padding: 5px 0px;
  border-radius: 40px 40px 0px 0px;
  font-size: 0.4em;
  display: block;
  margin: 5px 5px 0px 5px;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.minusTopBorder {

  border-top: 0px;
}

@media only screen and (max-width: 900px) {

  .navBtn {

    width: 30%;
    min-height: 120px;
    border-radius: 22px;
    margin: 2px;
    color: white;
    font-size: 0.4em;
    padding: 10px;
  
  }

  .emergencyHeaderText {

    padding: 40px;
    background-color: var(--colorFiveLight);
    margin-top: 0px;
    font-size: 1.5em;
  
  }

  .emergencyText {

    font-size: 1em;
  
  }

  .quarter {

    width: 100vw;
    height: 50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin:2px;
   
  
  }

  .emergencyButton {

    width: 25vw;
    height: 20vh;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
  
  }

  .callNowWrapper {

    width: 80%;
    background-color: black;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: var(--borderRadius);
  
  }

  .callNowWrapperWhite {

    width: 80%;
    color: black;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: var(--borderRadius);
  
  }

  .thirdWrapper {

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    flex-wrap: wrap;
  
  }

  .third {

    width: 100%;
    margin: 10px;
  
  }

  .contentBoxWrapper {

    width: 95vw;
    margin: auto;
  
  
  }

  .contentBox {
    
    margin: 0px 0px 5px 0px;
    border-radius: var(--borderRadius2);
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .contentBox2 {

    margin: 0px 0px 5px 0px;
    border-radius: var(--borderRadius2);
    height: 45vh;
    width: 100%;
    position: relative;
    overflow: hidden;

  }

  .contentBoxHeader {

    height: 30px;
    width: 100%;
  
    border-radius: 40px 40px 0px 0px;
    font-size: 0.4em;
    display: block;
    margin: 5px 0px 0px 0px;
    border-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .batteryTop {


    background: grey;
    height: 80px;
    width: 200px;
    border-radius: 20px 20px 0px 0px;
    margin: auto;
    margin-top: 20px;
  
    
  }
  
  .batteryTopBottom {
  
    background: grey;
    height: 20px;
    width: 90%;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    
  }
  
  .batteryBottom {
  
    background: grey;
    height: 20px;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-bottom: 60px;
    
  }

  .desciptionWord {

    display: none;

  }

  .emergencyContact {

    color: white;
    font-size: 2.5em;
    font-weight: bold;
  
  }


  
  ol {

    width: 90%;
    margin: auto;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 12px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 0px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  
  }



}

