.App-footer {

    position:absolute;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    color: white;
    background-color:black;
    bottom: 0px;

}



